body {
  padding: 19px;
  background-color: #111;
  color: #aaa;
  font-family: Ubuntu;
}

li {
  text-align: justify;
}

#my-clock {
  font-weight: bold;
  text-align: center;
  font-size: 100px;
  border-bottom: 2px solid #aaa;
}

.my-margin-bottom-28 {
  margin-bottom: 28px;
}

.my-button-number, .my-button-name {
  font-weight: bold;
  font-size: 28px;
  margin-right: 19px;
}

.my-button-number { width: 54px; }
.my-button-name { width: 400px; }